@model Data.Model.Opportunity

@{
    ViewBag.Title = "Opportunity Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Opportunity</legend>
    <div class="display-label">    
    <table>        
        <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityTitle)</td>
            <td>@Html.DisplayFor(model => model.OpportunityTitle)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityDescription)</td>
            <td>@Html.DisplayFor(model => model.OpportunityDescription)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityAdditionalInformation)</td>
            <td>@Html.DisplayFor(model => model.OpportunityAdditionalInformation)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityLocationName)</td>
            <td>@Html.DisplayFor(model => model.OpportunityLocationName)</td>
        </tr>
                <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityPostcode)</td>
            <td>@Html.DisplayFor(model => model.OpportunityPostcode)</td>
        </tr>          
        <tr>
            <td>@Html.DisplayNameFor(model => model.MinNumberofVolunteers)</td>
            <td>@Html.DisplayFor(model => model.MinNumberofVolunteers)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MaxNumberofVolunteers)</td>
            <td>@Html.DisplayFor(model => model.MaxNumberofVolunteers)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityDate)</td>
            <td>@Html.DisplayFor(model => model.OpportunityDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityCreatedDate)</td>
            <td>@Html.DisplayFor(model => model.OpportunityCreatedDate)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OpportunityStatus.OpportunityStatusDescription)</td>
            <td>@Html.DisplayFor(model => model.OpportunityStatus.OpportunityStatusDescription)</td>
        </tr>
    </table>
</div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
